<!DOCTYPE html>
<html>
<head th:fragment="navbar">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-glyphicons/bdd2cbfba0/css/bootstrap-glyphicons.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}" />
	<link rel="stylesheet" th:href="@{/css/custom.css}" />
	<title>MyGrades</title>
</head>

<body>

</body>

</html>

