
<header th:fragment="navbar">
	<nav id="navbar" class="navbar navbar-expand navbar-dark fixed-top"
		style="background-color: #3c5a9b">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">MyGrades</a>

			<div class="navbar-nav">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
						th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/utilisateurs')
							or #strings.startsWith(#httpServletRequest.getRequestURI(), '/modules')
							or #strings.startsWith(#httpServletRequest.getRequestURI(), '/filieres') ? 'active' : ''}">
						Administration </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/utilisateurs}"
							th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/utilisateurs') ? 'active':''}">Utilisateurs</a>
						<a class="dropdown-item" th:href="@{/modules}"
							th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/modules') ? 'active':''}">Modules</a>
						<a class="dropdown-item" th:href="@{/filieres}"
							th:classappend="${#strings.startsWith(#httpServletRequest.getRequestURI(), '/filieres') ? 'active':''}">Filières</a>
					</div>
				</div>

				<a class="nav-item nav-link" th:href="@{/filieres_sessions}">Sessions</a>
				<a class="nav-item nav-link" th:href="@{/x}">Mes notes</a>
			</div>

			<div class="navbar-nav">
				<span class="navbar-text" sec:authentication="name"></span>
				<a class="nav-item nav-link glyphicon glyphicon-off"
					th:href="@{/login?logout}"> </a>
			</div>

		</div>
	</nav>
</header>
