
<header th:fragment="navbar">
	<nav id="navbar" class="navbar navbar-expand navbar-dark fixed-top"
		style="background-color: #3c5a9b">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">MyGrades</a>

			<div class="navbar-nav">
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
						th:classappend="${optionMenu == 'administration' ? 'active' : ''}">
						Administration </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/utilisateurs}"
							th:classappend="${optionSousMenu == 'utilisateurs' ? 'active' : ''}">Utilisateurs</a>
						<a class="dropdown-item" th:href="@{/modules}"
							th:classappend="${optionSousMenu == 'modules' ? 'active' : ''}">Modules</a>
						<a class="dropdown-item" th:href="@{/filieres}"
							th:classappend="${optionSousMenu == 'filieres' ? 'active' : ''}">Filières</a>
					</div>
				</div>

				<a class="nav-item nav-link" th:href="@{/filieres_sessions}"
					th:classappend="${optionMenu == 'sessions' ? 'active' : ''}">Sessions</a>
				<a class="nav-item nav-link" th:href="@{/simulateur}"
					th:classappend="${optionMenu == 'simulateur' ? 'active' : ''}">Simulateur</a>
			</div>

			<div class="navbar-nav">
				<span class="navbar-text" sec:authentication="name"></span>
				<a class="nav-item nav-link glyphicon glyphicon-off"
					th:href="@{/login?logout}"> </a>
			</div>

		</div>
	</nav>
</header>
