<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head">
<meta charset="UTF-8" />
</head>

<body>

	<th:block th:replace="fragments/navbar :: navbar" />

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		<li class="breadcrumb-item"><a th:href="@{/simulateur}">Etudiants</a></li>
		<li class="breadcrumb-item active">Simulateur</li>
	</ol>

	<div class="container" role="main" th:object="${inscriptionSession}">

		<div class="text-center">
			<h3><strong th:text="${inscriptionSession.nomFiliere}" /></h3> 
			<h3 th:text="${'Session ' + inscriptionSession.nomSession}" />
			<h4 class="text-muted"
				th:text="${inscriptionSession.prenomEtudiant + ' ' + #strings.toUpperCase(inscriptionSession.nomEtudiant)}" />
		</div>
		
		<br />
		
		<!-- LE SEMESTRE -->
		<div class="mx-auto col-6 card">

			<div class="card-body">
				
				<div class="d-flex justify-content-between">
					<h5 th:text="${'Semestre ' + inscriptionSession.nomSemestre}" />
					<small class="text-muted" th:text="${'coeff ' + inscriptionSession.coefficient}" />
				</div>
	
				<div class="progress border">

					<div class="progress-bar progress-sous-min" style="width: 50%;"
						th:id="${'progress-sous-min' + inscriptionSession.calculateur.id}" />

					<div class="progress-bar progress-note-variable" style="width: 0%;"
						th:id="${'progress-note' + inscriptionSession.calculateur.id}">

						<input class="w-100 range-objectif" type="range" min="10" max="10"
							step="0.5" value="10"
							th:id="${'range' + inscriptionSession.calculateur.id}"
							th:attr="data-id=${inscriptionSession.calculateur.id}" />

					</div>
				</div>

				<div class="text-primary text-center">
					<span
						th:id="${'flag-objectif' + inscriptionSession.calculateur.id}"
						class="glyphicon glyphicon-flag" style="display: none;" />
					<span class=""
						th:id="${'caption-note' + inscriptionSession.calculateur.id}" />
					<span
						th:id="${'bouton-annuler-objectif' + inscriptionSession.calculateur.id}"
						th:attr="data-id=${inscriptionSession.calculateur.id}"
						class="glyphicon glyphicon-remove text-danger hover-display bouton-annuler-objectif icon-submit"
						style="display: none;" />
				</div>
			</div>
		</div>
		
		<br />
	
	
		<div class="card-columns">
			
			<!-- LES MODULES -->
			<div class="card" th:each="inscriptionModule : *{inscriptionsModule}">

				<div class="card-body">
					
					<div class="d-flex justify-content-between">
						<h5 class="card-title"
							th:text="${inscriptionModule.codeModule + ' - ' + inscriptionModule.nomModule}" />
						<small class="text-muted" th:text="${'coeff ' + inscriptionModule.coefficient}" />
					</div>
						

					<div class="progress border">

						<div class="progress-bar progress-sous-min" style="width: 50%;"
							th:id="${'progress-sous-min' + inscriptionModule.calculateur.id}" />

						<div class="progress-bar progress-note-variable"
							style="width: 0%;"
							th:id="${'progress-note' + inscriptionModule.calculateur.id}">

							<input class="w-100 range-objectif" type="range" min="10"
								max="10" step="0.5" value="10"
								th:id="${'range' + inscriptionModule.calculateur.id}"
								th:attr="data-id=${inscriptionModule.calculateur.id}" />

						</div>
					</div>

					<div class="text-primary text-center">
						<span
							th:id="${'flag-objectif' + inscriptionModule.calculateur.id}"
							class="glyphicon glyphicon-flag" style="display: none;" />
						<span class=""
							th:id="${'caption-note' + inscriptionModule.calculateur.id}" />
						<span
							th:id="${'bouton-annuler-objectif' + inscriptionModule.calculateur.id}"
							th:attr="data-id=${inscriptionModule.calculateur.id}"
							class="glyphicon glyphicon-remove text-danger hover-display bouton-annuler-objectif icon-submit"
							style="display: none;" />
					</div>

					<small><a th:href="${'#devoirs' + inscriptionModule.id}"
							data-toggle="collapse">devoirs...</a></small>

					
					<!-- LES DEVOIRS -->
					<div class="collapse col-11 offset-1"
						th:id="${'devoirs' + inscriptionModule.id}">

						<th:block
							th:each="inscriptionDevoir: ${inscriptionModule.inscriptionsDevoir}">
							
							<div class="d-flex justify-content-between">
								<h th:text="${inscriptionDevoir.nomDevoir}" />
								<small class="text-muted" th:text="${'coeff ' + inscriptionDevoir.coefficient}" />
							</div>

							<div class="progress border">

								<div class="progress-bar progress-sous-min" style="width: 50%;"
									th:id="${'progress-sous-min' + inscriptionDevoir.calculateur.id}" />

								<div class="progress-bar progress-note-variable"
									style="width: 0%;"
									th:id="${'progress-note' + inscriptionDevoir.calculateur.id}">

									<input class="w-100 range-objectif" type="range" min="10"
										max="10" step="0.5" value="10"
										th:id="${'range' + inscriptionDevoir.calculateur.id}"
										th:attr="data-id=${inscriptionDevoir.calculateur.id}" />

								</div>
							</div>


							<div class="small text-primary text-center">
								<span
									th:id="${'flag-objectif' + inscriptionDevoir.calculateur.id}"
									class="small glyphicon glyphicon-flag" style="display: none;" />
								<span class="caption-note"
									th:id="${'caption-note' + inscriptionDevoir.calculateur.id}" />
								<span
									th:id="${'bouton-annuler-objectif' + inscriptionDevoir.calculateur.id}"
									th:attr="data-id=${inscriptionDevoir.calculateur.id}"
									class="glyphicon glyphicon-remove text-danger hover-display bouton-annuler-objectif icon-submit"
									style="display: none;" />
							</div>
						</th:block>

					</div>

				</div>
			</div>
		</div>



	</div>

	<th:block th:replace="fragments/footer :: footer" />

	<div
		class="alert alert-warning alert-dismissible fade show app-message" />

	<th:block th:replace="fragments/js_includes :: js_includes" />

</body>

<script type="text/javascript" th:src="@{/js/simulateur.js}"></script>

</html>

