<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head">
<meta charset="UTF-8" />
</head>

<body>

	<th:block th:replace="fragments/navbar :: navbar" />

	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
		<li class="breadcrumb-item"><a th:href="@{/mes_notes/sessions}">Sessions</a>
		</li>
	</ol>

	<div class="container" role="main" th:object="${inscriptionSession}">

		<div class="card-columns">

			<div class="card" th:each="inscriptionModule : *{inscriptionsModule}">

				<div class="card-body">

					<h5 class="card-title"
						th:text="${inscriptionModule.codeModule + ' - ' + inscriptionModule.nomModule}" />

					<div class="progress border">

						<div class="progress-bar progress-sous-min" style="width: 50%;"
							th:id="${'progress-sous-min' + inscriptionModule.calculateur.id}" />

						<div class="progress-bar progress-note-variable"
							style="width: 0%;"
							th:id="${'progress-note' + inscriptionModule.calculateur.id}">

							<input class="w-100 range-objectif" type="range" min="10"
								max="10" step="0.5" value="10"
								th:id="${'range' + inscriptionModule.calculateur.id}"
								th:attr="data-id=${inscriptionModule.calculateur.id}" />

						</div>
					</div>

					<div class="text-primary text-center">
						<span
							th:id="${'flag-objectif' + inscriptionModule.calculateur.id}"
							class="glyphicon glyphicon-flag" style="display: none;" />
						<span class=""
							th:id="${'caption-note' + inscriptionModule.calculateur.id}" />
						<span
							th:id="${'bouton-annuler-objectif' + inscriptionModule.calculateur.id}"
							th:attr="data-id=${inscriptionModule.calculateur.id}"
							class="glyphicon glyphicon-remove text-danger hover-display bouton-annuler-objectif icon-submit"
							style="display: none;" />
					</div>

					<small><a th:href="${'#devoirs' + inscriptionModule.id}"
							data-toggle="collapse">devoirs...</a></small>


					<div class="collapse col-11 offset-1"
						th:id="${'devoirs' + inscriptionModule.id}">

						<th:block
							th:each="inscriptionDevoir: ${inscriptionModule.inscriptionsDevoir}">

							<h th:text="${inscriptionDevoir.nomDevoir}" />

							<div class="progress border">

								<div class="progress-bar progress-sous-min" style="width: 50%;"
									th:id="${'progress-sous-min' + inscriptionDevoir.calculateur.id}" />

								<div class="progress-bar progress-note-variable"
									style="width: 0%;"
									th:id="${'progress-note' + inscriptionDevoir.calculateur.id}">

									<input class="w-100 range-objectif" type="range" min="10"
										max="10" step="0.5" value="10"
										th:id="${'range' + inscriptionDevoir.calculateur.id}"
										th:attr="data-id=${inscriptionDevoir.calculateur.id}" />

								</div>
							</div>


							<div class="small text-primary text-center">
								<span
									th:id="${'flag-objectif' + inscriptionDevoir.calculateur.id}"
									class="small glyphicon glyphicon-flag" style="display: none;" />
								<span class="caption-note"
									th:id="${'caption-note' + inscriptionDevoir.calculateur.id}" />
								<span
									th:id="${'bouton-annuler-objectif' + inscriptionDevoir.calculateur.id}"
									th:attr="data-id=${inscriptionDevoir.calculateur.id}"
									class="glyphicon glyphicon-remove text-danger hover-display bouton-annuler-objectif icon-submit"
									style="display: none;" />
							</div>
						</th:block>

					</div>

				</div>
			</div>
		</div>



	</div>

	<th:block th:replace="fragments/footer :: footer" />

	<div
		class="alert alert-warning alert-dismissible fade show app-message" />

	<th:block th:replace="fragments/js_includes :: js_includes" />

</body>

<script>
	$(document).ready(function() {

		// initialiser tous les calculateurs
		var request = $.ajax({
			type : "GET",
			url : window.location.href + "/getCalculateurs"
		});

		request.done(function(htmlResponse, textStatus, jqXHR) {
			refreshCalculateurs(htmlResponse);
		});

		request.fail(function(jqXHR) {
			console.log("échec ajax.");
		});

		// fixation d'un objectif
		$(".range-objectif").change(function() {

			var idCalculateur = $(this).data("id");
			var noteObjectif = $(this).val();

			var request = $.ajax({
				type : "POST",
				url : window.location.href + "/setNoteObjectif",
				data : {
					"idCalculateur" : idCalculateur,
					"noteObjectif" : noteObjectif
				}
			});

			request.done(function(htmlResponse, textStatus, jqXHR) {
				refreshCalculateurs(htmlResponse);
			});

			request.fail(function(jqXHR) {
				console.log("échec ajax.");
			});
		});

		// suppression d'un objectif
		$(".bouton-annuler-objectif").click(function() {

			var idCalculateur = $(this).data("id");

			var request = $.ajax({
				type : "POST",
				url : window.location.href + "/annulerNoteObjectif",
				data : {
					"idCalculateur" : idCalculateur
				}
			});

			request.done(function(htmlResponse, textStatus, jqXHR) {
				refreshCalculateurs(htmlResponse);
			});

			request.fail(function(jqXHR) {
				console.log("échec ajax.");
			});
		});

		// afficher la valeur de range objectif à son utilisation
		$(".range-objectif").on("input", function() {

			var idCalc = $(this).data("id");
			var valeur = $(this).val();
			$("#caption-note" + idCalc).text(valeur);

		});

	});

	function refreshCalculateurs(calculateurs) {

		for ( var index in calculateurs) {

			var calc = calculateurs[index];

			var progressSousMin = $("#progress-sous-min" + calc.id);
			var progressNote = $("#progress-note" + calc.id);
			var range = $("#range" + calc.id);
			var caption = $("#caption-note" + calc.id);
			var flagObjectif = $("#flag-objectif" + calc.id);
			var boutonAnnulerObjectif = $("#bouton-annuler-objectif" + calc.id);

			// progress-note : class
			if (calc.noteMin == calc.noteMax) {
				progressNote.addClass("progress-note-unique");
				progressNote.removeClass("progress-note-variable");
				progressNote.removeClass("progress-note-objectif");
			} else if (calc.noteObjectif != null) {
				progressNote.removeClass("progress-note-unique");
				progressNote.removeClass("progress-note-variable");
				progressNote.addClass("progress-note-objectif");
			} else {
				progressNote.removeClass("progress-note-unique");
				progressNote.addClass("progress-note-variable");
				progressNote.removeClass("progress-note-objectif");
			}

			// range : min, max, value
			range.attr({
				"min" : calc.noteMin,
				"max" : calc.noteMax,
				"value" : calc.noteObjectif
			});

			// caption-note : html
			if (calc.noteMin == calc.noteMax) {
				flagObjectif.hide();
				boutonAnnulerObjectif.hide();
				caption.html(calc.noteMin);
			} else if (calc.noteObjectif != null) {
				flagObjectif.show();
				boutonAnnulerObjectif.show();
				caption.html(calc.noteObjectif);
			} else {
				flagObjectif.hide();
				boutonAnnulerObjectif.hide();
				caption.html(calc.noteMin + " -> " + calc.noteMax);
			}

			// progress-sous-min : change width
			var pctSousMin = 100 * calc.noteMin / 20 + "%";
			$(progressSousMin).outerWidth(pctSousMin);

			// progress-note : change width
			var pctNote = 100 * (calc.noteMax - calc.noteMin) / 20 + "%";
			$(progressNote).outerWidth(pctNote);

		}
	}
</script>

</html>

